aioboto3
aiohappyeyeballs
aiohttp
aiosignal
aistudio-sdk
albucore
albumentations
altair
annotated-types
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
backoff
backports-tarfile
bce-python-sdk
beautifulsoup4
black
bleach
blinker
boto3
botocore
braceexpand
build
cachecontrol
cachetools
camelot-py
certifi
cffi
cfgv
chardet
charset-normalizer
cleo
click
clip
colorlog
comm
contourpy
crashtest
cryptography
cycler
dataclasses-json
datasets
debugpy
decorator
defusedxml
dill
distlib
distro
dulwich
easyocr
editdistpy
elastic-transport
elasticsearch
et-xmlfile
evaluate
executing
fairscale
fastapi
fastjsonschema
filelock
findpython
fonttools
fqdn
frozenlist
fsspec
ftfy
future
gitdb
gitpython
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
h11
hf-xet
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
identify
idna
imageio
imagesize
img2table
importlib-metadata
installer
iopath
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
isort
jaraco-classes
jaraco-context
jaraco-functools
jedi
jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langfuse
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lazy-loader
llvmlite
lxml
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
modelscope
more-itertools
mpmath
msgpack
multidict
multiprocess
mypy-extensions
narwhals
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nodeenv
notebook
notebook-shim
numba
numpy
omegaconf
open-clip-torch
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt-einsum
orjson
ormsgpack
overrides
packaging
paddleocr
paddlepaddle
paddlex
pandas
pandocfilters
parso
pathspec
pbs-installer
pdfminer-six
pexpect
pillow
pkginfo
platformdirs
poetry
poetry-core
polars
portalocker
pre-commit
prettytable
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pymupdf
pyparsing
pypdf
pypdfium2
pyproject-hooks
python-bidi
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pyyaml
pyzmq
rapidfuzz
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruamel-yaml
ruamel-yaml-clib
ruff
s3transfer
safetensors
scikit-image
scikit-learn
scipy
seaborn
send2trash
setuptools
shapely
shellingham
simsimd
six
smmap
sniffio
soupsieve
sqlalchemy
stack-data
starlette
streamlit
stringzilla
sympy
symspellpy
symspellpy-ko
tabulate
tenacity
terminado
threadpoolctl
tifffile
tiktoken
timm
tinycss2
tokenizers
toml
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
trove-classifiers
types-python-dateutil
typing-extensions
typing-inspect
typing-inspection
tzdata
ujson
unimernet
uri-template
urllib3
uvicorn
uvloop
virtualenv
wand
watchfiles
wcwidth
webcolors
webdataset
webencodings
websocket-client
websockets
widgetsnbextension
wrapt
xattr
xlsxwriter
xxhash
yarl
zipp
zstandard
